@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.user_details{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
} 

input{
    padding: 0.6rem;
    margin: 0.5rem;
    border-radius: 3rem;
    outline: none;
    border: none;
    width: 14rem;
    height: 1.5rem;
}


.button{
    padding: 0.7rem;
    margin: 1rem 0 0 0;
    background: linear-gradient(135deg, rgb(20, 175, 90), rgb(88, 49, 161));
    cursor: pointer;
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    width: 15rem;
}

